/* Filtres checbox */

.status_label {
  display: block;
  position: relative;
  float: left;
  padding-left: 20px;
  padding-right: 25px;
  font-weight:normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.status_label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#confirme{
  top: 3px;
  height: 15px;
  width: 14.5px;
  border-radius: 25px;
  margin:auto;
}

#checkmark{
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 25px;
}

.checkmark_1{
  background-color: #e20000; 
}

.checkmark_2{
  background-color: #26B99A;
}


.checkmark_3 {
  background-color: #f0ad4e;
}



/* Create the checkmark/indicator (hidden when not checked) */
#checkmark:after{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.status_label input:checked ~ #checkmark:after  {
  display: block;
}

/* Style the checkmark/indicator */
.status_label #checkmark:after {
  left: 5px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* End filtre Checkbox */



/* Paginate */
.pagination{height:36px;margin:0;padding: 0;}
		.pager,.pagination ul{margin-left:0;*zoom:1}
		.pagination ul{padding:0;display:inline-block;*display:inline;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05)}
		.pagination li{display:inline}
		.pagination a{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0}
		.pagination .active a,.pagination a:hover{background-color:#f5f5f5;color:#94999E}
		.pagination .active a{color:#94999E;cursor:default}
		.pagination .disabled a,.pagination .disabled a:hover,.pagination .disabled span{color:#94999E;background-color:transparent;cursor:default}
		.pagination li:first-child a,.pagination li:first-child span{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
		.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
		.pagination-centered{text-align:center}
		.pagination-right{text-align:right}
		.pager{margin-bottom:18px;text-align:center}
		.pager:after,.pager:before{display:table;content:""}
		.pager li{display:inline}
		.pager a{display:inline-block;padding:5px 12px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
		.pager a:hover{text-decoration:none;background-color:#f5f5f5}
		.pager .next a{float:right}
		.pager .previous a{float:left}
		.pager .disabled a,.pager .disabled a:hover{color:#999;background-color:#fff;cursor:default}
		.pagination .prev.disabled span{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:1}
		.pagination .next.disabled span{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0}
		.pagination li.active, .pagination li.disabled {
			float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0
		}
		.pagination li.active {
			background: #364E63;
			color: #fff;
		}
		.pagination li:first-child {
				border-left-width: 1px;
		}
		
		

	.comment_block{ background:#f2f2f2;}

